*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.outer-cont{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right,#2c3e50,#3498db);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-cont{
    background-color: white;
    border-radius:10px;
    padding:20px;
    width: 45%;
    display: flex;
    flex-direction: column;
}
.heading{
    color:#0C45A2;
    text-align: center;
    padding-bottom: 10px;
}
label{
    padding-left: 3px;
    font-size: 18px;
    color:#0C45A2;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
input{
    width: 100%;
    height: 40px;
    padding: 10px;
    color:#333;
    outline:none;
    background-color: #f3f4f6;
    border:1px solid #3498db;
    border-radius: 5px;
    margin-bottom: 10px;
}
textarea{
    width: 100%;
    padding: 10px;
    color:#333;
    outline:none;
    background-color: #f3f4f6;
    border:1px solid #3498db;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
input:focus,textarea:focus{
    border-color: #ff5722;
}

.submit{
    width: 100%;
    height: 45px;
    border-radius: 25px;
    background-color: #ff6b00;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 18px;
}
.all-required[open]{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:100%;
   height: 100%;
   border: none;
   background-color: transparent;
   backdrop-filter: blur(10px);
   
}
.all-required-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 40%;
    gap: 20px;
    background: linear-gradient(to right,#5A8ACE,#7D57AF);
    border-radius: 10px;
}
.close-area{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.close-error{
    cursor: pointer;
}
.all-required-heading{
    font-size: 20px;
    color: white;
}
.invitation[open]{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width:100%;
   height:100%;
   border: none;
   background-color: white;
   backdrop-filter: blur(10px);  
}
.invitation-content{
    width: 35%;
    padding: 25px;
    border: 2px solid #E84A3B;
    box-shadow: 0px 0px 10px 10px rgb(243, 243, 243);;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    gap:30px
}
.inv-heading-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.inv-heading-area h1{
    color: #E84B3D;
    font-weight: 600;
}
.inv-heading-area h3{
    font-weight: 500;
    font-style: italic;
}
.inv-heading-area h2{
    font-weight: 600;
    font-size: 34px;
}
.inv-content-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.inv-content-area p:first-child{
    color: #E84B3D;
    font-weight: 600;
}