@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bpmf+Zihi+Kai+Std&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: white;
}
body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-size: 4em;
    font-weight: 500;
    font-family: "Bpmf Zihi Kai Std", sans-serif;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.game-grid{
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
    grid-gap: 10px;
    justify-content: center;
}
.cell{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell i{
    color: black;
    font-size: 3em;
}
.msg-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    font-weight: 700;
}
.reset{
    background-color: #4AAF4E;
    margin: auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}