@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: black;
}
body{
    background-color: #3A63E6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.outer{
    width: 60%;
    background-color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap:25px
}
.heading{
    font-weight: 500;
    font-size: 2.5em;
}
.row{
    display: grid;
    grid-template-columns: repeat(5,80px);
    grid-template-rows: repeat(1,80px);
    justify-content: center;
    align-content: center;
    gap: 5px;
    padding-bottom: 5px;
}
.cell{
    border: 1.5px solid rgb(98, 98, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-weight: 600;
}
.inp-area{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#word-inp{
    height: 40px;
    width: 40%;
    outline:none;
    padding: 5px;
    font-size: 1.5em;
}
.submit{
    height: 40px;
    padding-inline: 10px;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
}
.reset{
    height: 40px;
    padding-inline: 10px;
    font-weight: 600;
    border: 1px solid black;
    cursor: pointer;
}
.msg-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg{
    font-weight: 600;
}
.not-present{
    background-color: gray;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.present{
    background-color: yellow;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.present-accurate{
    background-color: #008001;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}