@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F7F8FC;
}
.pop-up-area{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 88, 88, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}
.pop-up{
    background-color: white;
    padding: 30px 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    & p{
        font-size: 1.8em;
        font-weight: 600;
    }
}
.ok{
    background-color: #67AC5C;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}
main{
    margin: auto;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}
.search-area{
    background-color: #3F51B5;
    border-radius: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    & h2{
        font-size: 2.3em;
        color: white;
        font-weight: 700;
    }
}
#search{
    width: 30px;
    width: 40%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-inline: 10px;
}
.inp-area{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr;
    box-shadow: 0px 1px 1px 1px  rgb(206, 206, 206);
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}
.inp{
    height: 40px;
    padding-inline: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}
.submit{
    background-color: #4CAF51;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.tasks-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & h2{
        font-size: 2.3em;
        color: #3F51B5;
        font-weight: 600;
    }
    
}
.tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
.date-area{
    width: 100%;
}
.task-date{
    font-weight: 700;
    font-size: 1.2em;
}
.details-area{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
span{
    font-weight: 700;
}
.edit{
    background-color: #FFCA26;
    border: none;
    outline: none;
    color: black;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}
.delete{
    background-color: #F54537;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
}