@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 30px;
}
.main-cont{
    background-color: #F2F2F2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 85%;
    padding: 15px;
    margin-inline: auto;
}
.heading{
    font-family: "DM Serif Display", serif;
    font-size: 40px;
    margin-inline: auto;
}
.notes-area{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.note{
    background-color: #d1e1ff;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}
.close-area{
    display: flex;
    justify-content: end;
    padding-inline: 10px;
}
.remove{
    background-color: #e54b3a;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.note p{
    font-size: 18px;
}
.inp-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp{
    display: flex;
    flex-direction: column;
}
#note-inp{
    outline: none;
    border: none;
    padding: 10px;
    resize: none;
    font-weight: 600;
    background-color: #fefec0;
    border-radius: 5px 5px 0px 0px;
}
.add-area{
    display: flex;
    justify-content: flex-end;
    background-color: #fefec0;
}
.add{
    padding: 5px;
    cursor: pointer;
    color: #11ff00;
    border-radius: 0px 0px 5px 5px;
    transition: transform 0.2s ease-in;
    padding-inline: 10px;
}
.add:hover{
    transform: scale(1.4);
}
.note:nth-child(2n){
    background-color: #fefffe;
}